<!DOCTYPE html>
<html class="loading">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/img/sun_color.png">
    <title>Home</title>
    <script src="lib/jquery.min.js"></script>
    <script src="assets/js/echarts.min.js"></script>
    <script src="https://unpkg.com/keras-js"></script>
    <script src="https://unpkg.com/md5-js@0.0.3/md5.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="vendor/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="vendor/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
    <linK href="assets/css/date.css" rel="stylesheet" type="text/css">
    <link href="assets/css/loading.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this theme -->
    <link href="assets/css/vitality-red.css" rel="stylesheet" type="text/css">
  </head>

  <body id="page-top">
    <!-- loading -->
    <div class="loading-wrap mb-3">
      <div class='loading-anim' id="load">
        <div class='border out'></div>
        <div class='border in'></div>
        <div class='border mid'></div>
        <div class='loading-circle'>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
        </div>
      </div>
      <h4 class="loading-title">模型加载中...</h4>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger hidden" href="#page-top" data-toggle="tooltip" data-placement="bottom" title="点击我返回上面">
          <img class="img-fluid" src="assets/img/sun_white.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
          Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" id="index">主页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger">我的过往</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger">心晴医生</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead" style="background-position: center;">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto text-center text-white">
            <img class="masthead-img img-fluid mb-3 hidden" src="assets/img/sun_color.png" alt="">
            <div class="masthead-title hidden">心晴</div>
          </div>
        </div>
      </div>
      <div class="scroll-down">
        <a class="btn js-scroll-trigger" href="#main" id="indexTwo" style="opacity:0">
          <i class="fa fa-angle-down fa-fw"></i>
        </a>
      </div>
    </header>

    <!-- Testomonials Section -->
    <section class="page-section testimonials bg-light" id="main" style="opacity:0">
      <div class="container wow fadeIn">
        <div class="row testimonials-panel">
          <div class="col-12 mx-auto" style="padding:0;">
            <div class="testimonials-carousel">
              <!-- Testimonial Item 1 -->
              <div class="item mb-4">
                <div id="input-message" class="content">
                  <div class="wrap">
                    <div class="input-main card">
                        <textarea class="inputTextarea noBlue" placeholder="今天感觉如何?写点什么叭~" maxlength="50" id="text_input"></textarea>
                        <span class="word-num">0/50</span>
                        <div class="show-img">
                            <div class="circle">
                                <img src="assets/img/faceEmotion/normal.png" style="margin:3px auto;" id="face"> 
                            </div>
                        </div>
                    </div>
                    <div id="result" class="result-panel card">
                        <img src="assets/img/box.png" class="result-img">
                        <p style="color:#666; letter-spacing: 2px;">你今天看起来是...<span style="font-size:1.5em;font-weight:500;color:#EF4035"></span></p>
                        <div class="btn-group">
                            <button id="ok" class="btn btn-result">好吧</button>
                            <button id="try-again" class="btn btn-result">你猜的不对!</button>
                        </div>
                    </div>
                  </div>
                  <button id="ready" class="btn submit-btn noBlue">写 好 了 !</button>
                </div>
              </div>
              <!-- Testimonial Item 2 -->
              <div class="item mb-4">
                <div id="select-function">
                  <div class="main-panel row">
                    <div class="col-3 select-panel">
                      <ul>
                        <li><a id="dateNote" class="actived">每日随笔</a></li>
                        <hr>
                        <li><a id="moodLine">心情曲线</a></li>
                        <hr>
                        <li><a id="moodDate">心情日历</a></li>
                        <hr>
                      </ul>
                    </div>
                  <div class="col-9 show-panel" id="Note">
 
                  </div>

                    <div class="col-9 show-panel hidden" id="Line">
                      <h4>这周你的心情曲线是这样的...</h4>
                      <div class="data-wrap">
                        <div id="line-map"></div>
                      </div>               
                    </div>

                    <div class="col-9 show-panel hidden" id="Date">
                      <h4>心情日历 <img src="assets/img/太阳.svg" style="margin-top:-8px;" id="sun"></h4>
                      <div class="data-wrap">
                        <div id="date-map">
                          <div class="account-box">
                            <h2 class="account-title">
                                <a href="###" class="f-btn-fhby right">返回本月</a>
                                <div class="clearfix right">
                                    <div class="f-btn-jian left">&lt;</div><div class="left f-riqi"><span class="f-year">2018</span>年<span class="f-month">1</span>月</div><div class="f-btn-jia left">&gt;</div><!-- 一定不能换行-->
                                </div>
                            </h2>
                            <div class="f-rili-table">
                                <div class="f-rili-head celarfix">
                                    <div class="f-rili-th">周日</div>
                                    <div class="f-rili-th">周一</div>
                                    <div class="f-rili-th">周二</div>
                                    <div class="f-rili-th">周三</div>
                                    <div class="f-rili-th">周四</div>
                                    <div class="f-rili-th">周五</div>
                                    <div class="f-rili-th">周六</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="f-tbody clearfix">                                  
                                </div>
                            </div>
                        </div>
                        </div>
                      </div>               
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testimonial Item 3 -->
              <div class="item mb-4">
                <div id="doctor-panel" class="content">
                  <div class="show-advice row">
                    <div class="col-4">
                        <img src="assets/img/doctor.svg" class="doctor">
                        <button id="get-advice" class="btn">寻求意见</button>
                    </div>
                    <div class="col-8 advice-wrap">
                      <h4 style="color:#fff;letter-spacing: 4px;">来自心晴医生的建议 :</h4>
                      <div class="main-content hidden">
                          <p>我看你是<span style="color:#f8e63f;font-size:20px;">中暑</span>了!</p>
                          <p>多喝热水!</p>
                          <p>多喝热水!</p>
                          <p>多喝热水!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/popper/popper.min.js"></script>
    <script src="lib/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.js"></script>
    <script src='assets/js/TweenMax.min.js'></script>
    <script  src="assets/js/loading.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- Custom scripts for this theme -->
    <script src="assets/js/vitality.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/predict.js"></script>
    <script src="assets/js/date.js"></script>
    <!-- /build -->
  </body>

</html>
