<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <title>心晴</title>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="lib/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/animations.css">
    <!-- siimple style -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- clouds -->
    <div class="cloud floating">
        <img src="assets/img/cloud.png" alt="Scoop Themes">
    </div>

    <div class="cloud pos1 fliped floating">
        <img src="assets/img/cloud.png" alt="Scoop Themes">
    </div>

    <div class="cloud pos2 floating">
        <img src="assets/img/cloud.png" alt="Scoop Themes">
    </div>

    <div class="cloud pos3 fliped floating">
        <img src="assets/img/cloud.png" alt="Scoop Themes">
    </div>

    <!-- main -->
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="assets/img/logo.png" alt="Scoop Themes Logo">
                    <br/>
                    <br/>
                    <h2 class="subtitle">请输入您的详细信息</h2>
                    <br/>
                    <div class="form-panel form-row">
                        <!-- 注册 -->
                        <div class="col-8 sign-in">
                            <h2>创建一个账号</h2>
                            <form role="form">
                                <div id="form-sign-in">
                                    <label class="title" style="margin-right:300px">昵称 <span id="name-error"></span></label>
                                    <input type="text" class="form-control noBlue" placeholder="请输入您的昵称" id="Name"/>
                                    <label class="title" style="margin-right:300px">邮箱 <span id="email-error"></span></label>
                                    <input type="email" class="form-control noBlue" placeholder="请输入您的邮箱" id="Email"/>
                                    <label class="title" style="margin-right:300px">密码 <span id="pwd-error"></span></label>
                                    <input type="password" class="form-control noBlue" placeholder="请输入您的密码" id="Password"/>
                                    <input type="password" class="form-control noBlue" placeholder="请确认您的密码" id="EnsurePassword"/>
                                </div>
                                    <button type="button" id="signIn" class="btn btn-theme noBlue">注册</button>
                            </form>
                        </div>
                        <!-- 登录 -->
                        <div class="col-4 btnLogin">
                            <img src="assets/img/milk_cake.png" class="rigth-img">
                            <span style="font-weight:400;cursor: pointer;" id="changePanel">点击登录</span>
                        </div>
                        <div class="col-4 hidden login">
                            <h2>登录</h2>
                            <form role="form" id="form-login">
                                <div>
                                    <div class="title" style="margin-right:210px">邮箱 <span id="email-login-error"></span></div>
                                    <input type="email" class="form-control noBlue" placeholder="请输入您的邮箱" id="LoginEmail"/>
                                    <label class="title" style="margin-right:210px">密码 <span id="pwd-login-error"></span></label>
                                    <input type="password" class="form-control noBlue" placeholder="请输入您的密码" id="LoginPassword"/>
                                </div>
                                    <button type="button" id="signUp" class="btn btn-theme noBlue">登录</button>
                            </form>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>


    <script src="lib/jquery.min.js"></script>
    <script src="http://downloads.mailchimp.com/js/jquery.form-n-validate.js"></script>
    <script src="lib/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="assets/js/login.js"></script>
</body>
</html>
